<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Easy Book</name>

  <description>
     Uma forma fácil e organizada para a sua leitura.
  </description>

  <author href="https://easybook.idealizadigital.com" email="arleyrobertbs@gmail.com.com">
      RBSousa
  </author>

</widget>
